* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: auto;
}

header {
    border-top: 5px solid #572EE5;
}

#header-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
}

#logo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#img-logo {
    width: 56px;
    height: 49px;
    cursor: pointer;
}

#logo-text {
    font-family: "Roboto-Black";
    font-weight: bold;
    font-size: 16px;
    color: #572EE5;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    background-color: white;
    text-align: center;
    cursor: pointer;
}

#chk-menu {
    display: none;
}

#hamburguer-menu-x {
    display: none;
    color: #572EE5;
}

.noDisplayed {
    display: none;
}

.menu {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    background: #572EE5 90%;
    transition: 0.5s;
    margin-top: -584px;
    text-align: center;
    /* height: 484px; */
}

#chk-menu:checked~.menu {
    margin-top: 0;
}

#chk-menu:checked~#header-menu>#hamburguer-menu-x {
    display: block;
}

#chk-menu:checked~#header-menu>#hamburguer-menu {
    display: none;
}

#hamburguer-menu {
    cursor: pointer;
    color: #572EE5;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 5px;
    flex-direction: column;
    transition: 0.4s;
}

ul a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}

ul li {
    margin: 10px;
    /* border-bottom: 1px solid white; */
}


/* ul li:after {
    content: "";
    position: absolute;
    transform: translate(-170%, -500%);
    background-color: white;
    width: 40px;
    height: 1px;
} */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 0.5%;
    width: 100%;
    /* border: 1px solid red; */
}

.top {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    /* align-items: center;
    align-content: center;
    justify-content: space-around; */
    margin-top: 105px;
    width: 286px;
    height: 99px;
    /* border: 1px solid red; */
}

.sectionHidden {
    display: none;
}

.top h1 {
    color: #572EE5;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.top h1 #gifos {
    color: #5ED7C6;
    /* border: 1px solid red; */
}

.searchSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buscaGifsH3 {
    display: none;
}

#imgIlustra {
    /* border: 1px solid red; */
    margin-top: 31px;
    width: 273px;
    height: 130px;
}

.searchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-around; */
    width: 334px;
    border: 1px solid #572EE5;
    border-radius: 27px;
}

#searchArea {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
}

.searchAutocomplete {
    display: none;
}

.searchAutocompleteDisplayed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#autocompleteResultsList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    padding-bottom: 5px;
    /* border: 1px solid red; */
    width: 90%;
    margin-top: 5px;
}

.autocompleteResult {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #9CAFC3;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    margin-bottom: 5px;
    cursor: pointer;
}

.autocompleteResult:hover {
    font-weight: bolder;
}

.autoImage {
    height: 15.8px;
    width: 15.8px;
    color: #9CAFC3;
    margin-right: 14.6px;
}

#searchButton,
#closeButton,
#closeImage {
    display: none;
    cursor: pointer;
}

#closeImageDiv {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 20px;
}

#searchInput {
    /* border: 1px solid red; */
    width: 70%;
}

#imgLupa {
    cursor: pointer;
}

#searchImage {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 20px;
    /* border: 1px solid red; */
}

#searchInputText {
    /* margin-left: 20px; */
    text-align: left;
    font-size: 16px;
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    /* border: 1px solid yellow; */
    /* background-color: yellow; */
}

.trendingText {
    margin-top: 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #572EE5;
}

.trendingText h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.trendingText p {
    margin-top: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 225px;
    text-align: center;
    font-weight: normal;
    cursor: pointer;
}

.trendingText p span:hover {
    font-weight: bolder;
}

.trendingGifs {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 45px;
    background-color: #F3F5F8;
    padding-bottom: 50px;
    overflow: hidden;
}

.trendingGifs h2 {
    margin-top: 46px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #572EE5;
}

.trendingGifs p {
    margin-top: 7px;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 23px;
}

.gifList {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
}

.trendingGifsDark {
    background-color: #222326;
}

.trendGifHome {
    width: 243px;
    height: 187px;
}

.favoritesSection {
    display: none;
}

footer h3 {
    font-family: 'Roboto-Regular';
    font-size: 15px;
    color: #000000;
    letter-spacing: 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px solid #572EE5;
    margin-top: 47px;
}

footer p {
    font-family: 'Roboto-Regular';
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 23px;
}

.social {
    margin: 15px;
    width: 50%;
    text-align: center;
}

.social i {
    color: #CDD6E0;
    padding: 5.3%;
}

.searchResults {
    display: none;
}

.resultSearchGifDiv {
    position: relative;
    width: 100%;
}

.noResultsDiv {
    display: none;
}

.noResultsDivDisplayed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 109px;
}

#noResultsDiv p {
    margin-top: 29px;
    font-family: "Montserrat-Bold";
    font-size: 22px;
    color: #50E3C2;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
}

.cardGif {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #572EE5;
}

.actionIcons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.cardGifIcon {
    display: flex;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
    background-color: #FFFFFF;
    border-radius: 6px;
    opacity: 70%;
    height: 32px;
    width: 32px;
    border: 1px solid #9CAFC3;
}

.cardGifIcon:hover {
    opacity: 100%;
}

.cardGifButton {
    display: none;
}

.resultSearchGifDiv:hover .cardGif {
    opacity: 0.8;
}

.cardGifDescription {
    margin-left: 5px;
    color: white;
}

.tituloCardGifDescription {
    font-weight: bold;
}

.searchResultsDisplayed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divisor {
    margin-top: 35px;
    border: 1px solid #9CAFC3;
    width: 157px;
}

.autoDivisor {
    margin-top: 5px;
    margin-bottom: 14px;
    border: 1px solid #9CAFC3;
    width: 90%;
}

#searchedText {
    margin-top: 43px;
    color: #572EE5;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.gifsGrid {
    margin-top: 38px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 25px 21px;
}


/* ESTA ES LA CLASE DE LOS GIF QUE SE DIBUJAN COMO RESULADO DE BUSQUEDA */

.searchedGifsHome {
    display: block;
    width: 156px;
    height: 120px;
}

#verMasButton,
#verMasFavoritosButton {
    display: none;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 78px;
    cursor: pointer;
}

.darkMode {
    background-color: #37383C;
    color: white;
    border-color: white;
}


/* .btnVerMas {
    display: block;
    border: none;
    background-color: unset;
    cursor: pointer;
} */


/* Estilos para GifoMAX (Modal) en Mobile */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Sit on top */
    padding-top: 50px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto !important;
    /* Enable scroll if needed */
    background-color: rgba(255, 255, 255, 1.0);
    /* Fallback color */
}

#modal-content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* overflow-y: auto !important; */
}

#gifMaximizedContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sliderButton {
    cursor: pointer;
    /* margin: 25px; */
}

#modalClose {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
    margin-bottom: 78px;
    padding-right: 10px;
    /* width: 50%; */
}

#underGifMaximized {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 27px;
}

#buttonsGifMaximized {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

#underGifMaximized p:first-child {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #000000;
}

#underGifMaximized p:last-child {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
}

@media screen and (min-width: 640px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        /* background-color: #FFFFFF; */
    }
    .headerSticky {
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55);
        z-index: 1;
    }
    #header-top {
        height: 1px;
        background-color: #572EE5;
    }
    #imgCreateGifo {
        cursor: pointer;
        margin-left: 59.5px;
    }
    #hamburguer-menu {
        display: none;
    }
    #img-logo {
        width: 68px;
        height: 60px;
        margin-left: 156px;
    }
    #logo-text {
        font-weight: bolder;
        font-size: 18px;
        margin-left: 168px;
        margin-top: 10px;
    }
    .menu {
        display: flex;
        flex-direction: row;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 15px;
        background: none;
        /* text-align: center; */
        height: none;
        margin-top: 0px;
        margin-right: 156px;
    }
    .menu ul {
        flex-direction: row;
        transition: 0.4s;
        cursor: pointer;
    }
    ul a {
        text-transform: uppercase;
        text-decoration: none;
        color: #572EE5;
        padding: unset;
    }
    ul a:hover {
        padding: unset;
        border-bottom: 2px solid #5ED7C6;
    }
    ul a:active {
        color: #9CAFC3;
        border-bottom: unset;
    }
    .top {
        /* margin-top: 105px; */
        width: 634px;
        height: 100px;
    }
    .top h1 {
        font-size: 35px;
        line-height: 50px;
    }
    ul li {
        margin: 10px;
    }
    .gifsGrid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 25px 21px;
    }
    .searchedGifsHome {
        width: 260px;
        height: 200px;
    }
    .searchBar {
        width: 551px;
    }
    #imgIlustra {
        width: 399px;
        height: 190px;
    }
    .favoritesSectionDisplayed {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .favoritesDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #favoritesSection h3 {
        font-family: "Montserrat-Bold";
        font-weight: bolder;
        font-size: 25px;
        color: #572EE5;
        text-align: center;
        line-height: 30px;
    }
    #gifMaximized {
        width: 695px;
        height: 385px;
    }
    #underGifMaximized {
        width: 695px;
    }
    .sliderButtonDiv {
        width: 40px;
        margin: 25px;
    }
}